

video{
    width: 100%;
  }
  
    .video-container {
      max-width: 1000px;
      width: 90%;
      margin-inline:auto;
      background: lightpink;
     
      
      
      display:flex;
      justify-content:center;
      
      position: relative;
      color: white;
      background-color: black;
    }
    
    .video-controls-container{
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
        z-index: 100;
        opacity: 0;
        transition: 150ms ease-in-out;
        
    }
    
    .video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container 
    {
        opacity:1;
    }
    
    .video-controls-container .controls{
        display: flex;
        gap: .5rem;
        padding:.25rem;
        align-items: center;
    }
    
    .video-controls-container .controls button{
        border: none;
        border-radius: 50%;
        background: none;
        color: inherit;
        width: 30px;
        height: 30px;
        padding: 0;
    }
    
    .video-controls-container .controls button.play-paused-btn {
        border: 1px solid white;
    }
    
    .video-container.paused .play-icon {
        display: none;
    }
    
    .video-container:not(.paused) .pause-icon {
        display: none;
    }
    
    .video-container.full-screen,
    .video-container.theater{
        max-width:initial;
        width: 100%;
    }
    
    .video-container.full-screen {
        max-height: 100vh;
    }
    
    .video-container.theater {
        max-height: 90vh;
    }
    
    .video-container.theater .tall {
        display:none;
    }
    
    .video-container:not(.theater) .wide {
        display:none;
    }
    
    .video-container.full-screen .open {
        display: none;
    }
    
    .video-container:not(.full-screen) .close{
        display: none;
    }
    
    .volume-container{
        display: flex;
        align-content: center;
    }
    
     .volume-high-icon,
      .volume-low-icon,
      .volume-muted-icon{
        display:none;
      }
    
    .video-container[data-volume-level = "high"] .volume-high-icon {
        display:block;
    }
    
    .video-container[data-volume-level = "low"] .volume-low-icon {
        display:block;
    }
    
    .video-container[data-volume-level = "muted"] .volume-muted-icon {
        display:block;
    }
    
    
    .volume-slider{
        transform-origin: left;
        transform:scale(0) ;
        width: 0;
        transition: 100ms ease-in-out;
    }
    
    .volume-container:hover .volume-slider {
        width:100%;
        transform: scale(1);
    }
    
   .play-pause-container {
       position: absolute;
       top: 40%;
       left: 0;
       right:0;
       
       display: flex;
       align-items: center;
       justify-content: center;
       opacity: 0;
       z-index: 100;
       
   }
   
   .video-container:hover .play-pause-container,
    .video-container:focus-within .play-pause-container 
    .video-container.paused .play-pause-container 
   {
       opacity: 1;
   }
   
   .play-pause-container button {
       background: none;
       border: none;
       width: 60px;
       height: 60px;
       color: inherit;
   }
   
   
   .duration-container{
       display: flex;
       align-items: center;
       flex:1;
   }
   
   .speed-btn {
       width:80px;
   }
   
    .timeline-container {
        height:7px;
        margin-inline:0.5rem;
        
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    
.video-container.scrubbing .timeline,
    .timeline-container:hover .timeline {
        height: 100%;
    }
    
    .timeline {
        height:3px;
        background-color: rgba(100, 100, 100, 0.5);
        width:100%;
        position: relative;
    }
    
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: calc(100% - var(--preview-position) *100%);
        background-color: rgb(150,150,150);
        display: none;
    }
    
    .timeline:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: calc(100% - var(--progress-position)* 100%);
        background-color: red;
    }
    
    
    .timeline .thumb-indicator {
        --scale:0;
        position: absolute;
        height: 200%;
        transform: translateX(50%) scale(--scale);
        top:-50%;
        left:calc(var(--progress-position) *100%);
        background-color: red;
        aspect-ratio:1/1;
        border-radius: 50%;
    }
    
    
.video-container.scrubbing .thumb-indicator,
    .timeline-container:hover .thumb-indicator{
        --scale:1;
    }
    
    
 .video-container.scrubbing .timeline:before,
 .timeline-container:hover .timeline:before{
        display: block;}
        
    
    .timeline .preview-img {
        position: absolute;
        height: 80px;
        top: -1rem;
        transform: translate(-50%, -100%);
        aspect-ratio:16/9;
        border:5px solid white;
        border-radius: .25rem;
        left: calc(var(--preview-position)*100%);
        display: none;
    }

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img{
        display: block;}
    
    .thumnail-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: none;
    }
    
   /* .video-container.scrubbing .thumnail-img {
        display: block;
    }*/